# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Tema 2/Ejercicio027/nbproject/private/
/Tema 2/Ejercicio027/build/
/Tema 2/Ejercicio028/nbproject/private/
/Tema 2/Ejercicio028/build/
/Tema 3/Ejercicio01/nbproject/private/
/Tema 3/Ejercicio01/build/
/Tema 3/Ejercicio01/dist/
/Tema 3/Ejercicio02/nbproject/private/
/Tema 3/Ejercicio02/build/
/Tema 3/Ejercicio03/nbproject/private/
/Tema 3/Ejercicio03/build/
/Tema 3/Ejercicio04/nbproject/private/
/Tema 3/Ejercicio04/build/
/Tema 3/Ejercicio05/nbproject/private/
/Tema 3/Ejercicio05/build/
/Tema 3/Ejercicio06/nbproject/private/
/Tema 3/Ejercicio06/build/
/Tema 3/Ejercicio07/nbproject/private/
/Tema 3/Ejercicio07/build/
/Tema 3/Ejercicio08/nbproject/private/
/Tema 3/Ejercicio08/build/
/Tema 3/Ejercicio09/nbproject/private/
/Tema 3/Ejercicio09/build/
/Tema 3/Ejercicio010/nbproject/private/
/Tema 3/Ejercicio010/build/
/Tema 3/Ejercicio011/nbproject/private/
/Tema 3/Ejercicio011/build/
/Tema 3/Ejercicio012/nbproject/private/
/Tema 3/Ejercicio012/build/
/Tema 3/Ejercicio013/nbproject/private/
/Tema 3/Ejercicio013/build/
/Tema 3/Ejercicio014/nbproject/private/
/Tema 3/Ejercicio014/build/
/Tema 3/Ejercicio015/nbproject/private/
/Tema 3/Ejercicio015/build/
/Tema 3/Ejercicio016/nbproject/private/
/Tema 3/Ejercicio016/build/
/Tema 3/Ejercicio017/nbproject/private/
/Tema 3/Ejercicio017/build/
/Tema 3/Ejercicio018/nbproject/private/
/Tema 3/Ejercicio018/build/
/Tema 3/Ejercicio023/nbproject/private/
/Tema 3/Ejercicio023/build/
/Tema 3/Ejercicio024/nbproject/private/
/Tema 3/Ejercicio024/build/
/Tema 3/Ejercicio028/nbproject/private/
/Tema 3/Ejercicio028/build/
/Tema 3/Ejercicio027/nbproject/private/
/Tema 3/Ejercicio027/build/
/Tema 3/Ejercicio019/nbproject/private/
/Tema 3/Ejercicio019/build/
/Tema 3/Ejercicio020/nbproject/private/
/Tema 3/Ejercicio020/build/
/Tema 3/Ejercicio021/nbproject/private/
/Tema 3/Ejercicio021/build/
/Tema 3/Ejercicio022/nbproject/private/
/Tema 3/Ejercicio025/nbproject/private/
/Tema 3/Ejercicio025/build/
/Tema 3/Ejercicio022/build/
/Tema 4/EjercicioRef1/nbproject/private/
/Tema 4/EjercicioRef1/build/
/Tema 4/Calculadora/nbproject/private/
/Tema 4/Ejercicio01/nbproject/private/
/Tema 4/Ejercicio01/build/
/Tema 4/Ejercicio02/nbproject/private/
/Tema 4/Ejercicio02/build/
/Tema 4/Ejercicicio03/nbproject/private/
/Tema 4/Ejercicio03/nbproject/private/
/Tema 4/Ejercicio03/build/
/Tema 4/Ejercicio05/nbproject/private/
/Tema 4/Ejercicio05/build/
/Tema 4/Ejercicio06/nbproject/private/
/Tema 4/Ejercicio06/build/
/Tema 4/Ejercicio06/dist/
/Tema 4/Ejercicio08/nbproject/private/
/Tema 4/Ejercicio08/build/
/Tema 4/Ejercicio08/dist/
/Tema 4/Ejercicio09/nbproject/private/
/Tema 4/Ejercicio09/build/
/Tema 4/Ejercicio09/dist/
/Tema 4/EjercicioRefString/nbproject/private/
/Tema 4/EjercicioRefString/build/
/Tema 4/Ejercicio020/nbproject/private/
/Tema 4/Ejercicio020/build/
/Tema 4/Ejercicio021/nbproject/private/
/Tema 4/Ejercicio021/build/
/Tema 4/Ejercicio023/nbproject/private/
/Tema 4/Ejercicio023/build/
/Tema 4/Ejercicio025/nbproject/private/
/Tema 4/Ejercicio025/build/
/Tema 5/EjercicioRefObjetos/nbproject/private/
/Tema 5/EjercicioRefObjetos/build/
/Tema 5/Ejercicio01/nbproject/private/
/Tema 5/ColadeCorreos/nbproject/private/
/Tema 5/ColadeCorreos/build/
/Examenes/Sanchez_Barroso_Alejandro_Examen/nbproject/private/
/Examenes/Sanchez_Barroso_Alejandro_Examen/build/
/Tema 5/Herencia/nbproject/private/
/Tema 5/Herencia/build/
/Tema 5/Ejercicio023/nbproject/private/
/Tema 5/Ejercicio023/build/
/Tema 5/Ejercicio01/build/
/Tema 6/Ejercicio01/nbproject/private/
/Tema 6/Ejercicio01/build/
/Tema 6/Ejercicio04/nbproject/private/
/Tema 6/Ejercicio04/build/
/Tema 6/Ejercicio05/nbproject/private/
/Tema 6/Ejercicio05/build/
/Correciones/Tema05/build/
/Correciones/Tema05/dist/
/Correciones/Tema05/nbproject/private/
/Tema 5/Ejercicio019/nbproject/private/
/Tema 5/Ejercicio019/build/
/Tema 5/Ejercicio025/nbproject/private/
/Tema 5/Ejercicio025/build/
/Tema 6/Ejercicio02/nbproject/private/
/Tema 6/Ejercicio02/build/
/Tema 6/Ejercicio03/nbproject/private/
